:root {
    --cor-primaria: #0d6efd;
    --fundo-escuro: #212529;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
}

canvas {
    max-height: 400px; /* Garante que os gráficos caibam na tela */
    width: 100% !important;
}
